@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

:root {
  --purple: #583FC2;
  --dark-blue: #363F5F;
  --green: #49AA26;
  --light-green: #3DD705;
  --red: #E92929;
  --light-color: #F0F2F5;
  --dark-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /* 15px */
}

body {
  background-color: #1e1e1e;
  font-family: "Poppins", sans-serif;
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px); /* Pega o menor desses valores */
  margin: auto;
}

/* TITLES */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: 400;
}

/* LINKS & BUTTONS */
a {
  color: var(--green);
  text-decoration: none;

}

a:hover{
  color: var(--light-green);
}

.button.new {
  display: inline-block;
  margin-bottom: .8rem;
}

button {
  width: 100%;
  height: 50px;
  
  border: none;
  border-radius: 0.25rem;

  color: #FFF;
  background: var(--green);

  padding: 0;
  cursor: pointer;
}

button:hover {
  background: var(--light-green);
}

.button.cancel {
  width: 100%;
  height: 50px;

  color: var(--red);
  border: 2px solid  var(--red);
  border-radius: 0.25rem;
  padding: 1rem 3rem;

  opacity: 0.6;

  display: flex;
  justify-content:center;
  align-items: center;
}

.button.cancel:hover {
  opacity: 1;
}

.remove-icon {
  cursor: pointer;
}

/* HEADER */
header {
  background: var(--purple);
  color: #FFF;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  font-weight: 100;
  font-style: normal;
}

/* Balance */
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: #FFF;
  margin-top: 0;
}

/* CARDS */
.card {
  background-color: #FFF;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .25rem;
  color: var(--dark-blue);

}

.card h3{
  font-weight: 400;
  font-size: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card p{
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total{
  background: var(--green);
  color: #FFF;
}

/* TABLE */

#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  color: #687192;
  border-spacing: 0 0.5rem;
}

#data-table thead tr th:first-child,
#data-table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

#data-table thead tr th:last-child,
#data-table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table tbody tr {
  opacity: 0.8;
}

table tbody tr:hover{
  opacity: 1;
}

table thead th {
  background-color: #FFF;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
}

table tbody td {
  background-color: #FFF;
  padding: 1rem 2rem;
  font-weight: 400;
}

td.description {
  color: var(--dark-blue);
}

.income {
  color: #12A454;
}

.expense {
  color: var(--red);
}

td.date {
  color: black;
}

/* MODAL */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: 0.3s;
}

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: #F0F2F5;
  padding: 2.4rem;
  position: relative;
}

/* MODAL FORM */
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}


/* Footer */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--light-color);
  opacity: 0.7;
}

/* RESPONSIVO */
@media screen and (min-width: 800px) {
  html {
    font-size: 87.5%; /* 14px */
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

